In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
movies = pd.read_csv("/content/movies.csv")
df = movies.copy()

In [ ]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [ ]:
df.columns = [i.lower() for i in df]

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9568 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movies    9568 non-null   object
 1   year      9026 non-null   object
 2   genre     9490 non-null   object
 3   rating    8168 non-null   float64
 4   one-line  9568 non-null   object
 5   stars     9568 non-null   object
 6   votes     8168 non-null   object
 7   runtime   7008 non-null   float64
 8   gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 747.5+ KB

In [ ]:
df["votes"]= df["votes"].str.replace(",","")

In [ ]:
df.head()

,movies,year,genre,rating,one-line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,21062,121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",17870,25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",885805,44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",414849,23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [ ]:
df.isnull().sum().value_counts(ascending=False)

0       3
1400    2
542     1
78      1
2560    1
9108    1
dtype: int64

In [ ]:
df.isnull().sum(axis=0)

movies         0
year         542
genre         78
rating      1400
one-line       0
stars          0
votes       1400
runtime     2560
gross       9108
dtype: int64

In [ ]:
df.shape

(9568, 9)

In [ ]:
d = df.isnull().any()

In [ ]:
d.index

Index(['movies', 'year', 'genre', 'rating', 'one-line', 'stars', 'votes',
       'runtime', 'gross'],
      dtype='object')

In [ ]:
df.isnull().all(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
9993    False
9995    False
9996    False
9997    False
9998    False
Length: 9568, dtype: bool

In [ ]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

gross       95.19
runtime     26.76
rating      14.63
votes       14.63
year         5.66
genre        0.82
movies       0.00
one-line     0.00
stars        0.00
dtype: float64

In [ ]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2).head(1)

gross    95.19
dtype: float64

In [ ]:
col=round(df.isnull().sum().sort_values(ascending=False)/len(df)*100).head(1).index.values

In [ ]:
df =df.drop(columns=col)

In [ ]:
df.head()

,movies,year,genre,rating,one-line,stars,votes,runtime
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,21062,121.0
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",17870,25.0
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",885805,44.0
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",414849,23.0
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN

In [ ]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

runtime     26.76
rating      14.63
votes       14.63
year         5.66
genre        0.82
movies       0.00
one-line     0.00
stars        0.00
dtype: float64

In [ ]:
df =df[df["runtime"].notnull()]

In [ ]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

rating      3.17
votes       3.17
year        0.30
genre       0.13
movies      0.00
one-line    0.00
stars       0.00
runtime     0.00
dtype: float64

In [ ]:
df.head()

,movies,year,genre,rating,one-line,stars,votes,runtime
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,21062,121.0
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",17870,25.0
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",885805,44.0
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",414849,23.0
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...",25858,50.0

In [ ]:
df["runtime"]=df["runtime"].astype(float).astype(int)

In [ ]:
df.head()

,movies,year,genre,rating,one-line,stars,votes,runtime
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,21062,121
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",17870,25
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",885805,44
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",414849,23
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...",25858,50

In [ ]:
df.index = np.arange(1,len(df)+1)

In [ ]:
df.shape

(7008, 8)

In [ ]:
df.describe(include="all")

,movies,year,genre,rating,one-line,stars,votes,runtime
count,7008,6987,6999,6786.000000,7008,7008,6786,7008.000000
unique,5315,409,478,NaN,6817,6129,4043,NaN
top,Bleach: Burîchi,(2020),\nComedy,NaN,\nAdd a Plot\n,\n,20,NaN
freq,65,545,595,NaN,179,57,16,NaN
mean,NaN,NaN,NaN,6.861450,NaN,NaN,NaN,68.874144
std,NaN,NaN,NaN,1.245349,NaN,NaN,NaN,47.278890
min,NaN,NaN,NaN,1.100000,NaN,NaN,NaN,1.000000
25%,NaN,NaN,NaN,6.100000,NaN,NaN,NaN,37.000000
50%,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,60.000000
75%,NaN,NaN,NaN,7.700000,NaN,NaN,NaN,95.000000
max,NaN,NaN,NaN,9.900000,NaN,NaN,NaN,853.000000

In [ ]:
df.describe()

            rating      runtime
count  6786.000000  7008.000000
mean      6.861450    68.874144
std       1.245349    47.278890
min       1.100000     1.000000
25%       6.100000    37.000000
50%       7.000000    60.000000
75%       7.700000    95.000000
max       9.900000   853.000000

In [ ]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

rating      3.17
votes       3.17
year        0.30
genre       0.13
movies      0.00
one-line    0.00
stars       0.00
runtime     0.00
dtype: float64

In [ ]:
df["rating"].astype("category").value_counts()

7.2    256
7.6    244
7.5    240
7.1    238
7.3    237
      ...
1.8      1
2.4      1
2.2      1
2.0      1
1.1      1
Name: rating, Length: 82, dtype: int64

In [ ]:
df.loc[:,"rating"].fillna(df["rating"].mean(),inplace=True)

In [ ]:
df.isnull().sum().sort_values(ascending=False)

votes       222
year         21
genre         9
movies        0
rating        0
one-line      0
stars         0
runtime       0
dtype: int64

In [ ]:
df=df[df["votes"].notnull()]

In [ ]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

genre       0.1
movies      0.0
year        0.0
rating      0.0
one-line    0.0
stars       0.0
votes       0.0
runtime     0.0
dtype: float64

In [ ]:
df["genre"]=df["genre"].notnull()

In [ ]:
round(df.isnull().sum().sort_values(ascending=False)/len(df)*100,2)

movies      0.0
year        0.0
genre       0.0
rating      0.0
one-line    0.0
stars       0.0
votes       0.0
runtime     0.0
dtype: float64

In [ ]:
df.rename(columns={"one-line":"oneline"},inplace=True)

In [ ]:
df.head()

,movies,year,genre,rating,oneline,stars,votes,runtime
1,Blood Red Sky,(2021),True,6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,21062,121
2,Masters of the Universe: Revelation,(2021– ),True,5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",17870,25
3,The Walking Dead,(2010–2022),True,8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",885805,44
4,Rick and Morty,(2013– ),True,9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",414849,23
5,Outer Banks,(2020– ),True,7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...",25858,50

In [ ]:
len(df)/len(movies)*100

67.86678667866786

In [ ]:
df.shape

(6786, 8)

In [ ]:
df = df.replace(r"\n","",regex=True)

In [ ]:
df.head()

,movies,year,genre,rating,oneline,stars,votes,runtime
1,Blood Red Sky,(2021),True,6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062,121
2,Masters of the Universe: Revelation,(2021– ),True,5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870,25
3,The Walking Dead,(2010–2022),True,8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805,44
4,Rick and Morty,(2013– ),True,9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849,23
5,Outer Banks,(2020– ),True,7.6,A group of teenagers from the wrong side of th...,"Stars:Chase Stokes, Madelyn Cl...",25858,50

In [ ]:
df["year"]=df["year"].str.extract(r'\b(\d{4})\b')

In [ ]:
df.head()

,movies,year,genre,rating,oneline,stars,votes,runtime
1,Blood Red Sky,2021,True,6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062,121
2,Masters of the Universe: Revelation,2021,True,5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870,25
3,The Walking Dead,2010,True,8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805,44
4,Rick and Morty,2013,True,9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849,23
5,Outer Banks,2020,True,7.6,A group of teenagers from the wrong side of th...,"Stars:Chase Stokes, Madelyn Cl...",25858,50

In [ ]:
df["year"]=pd.to_datetime(df["year"])

In [ ]:
df["year"].astype(int)

1       2021
2       2021
3       2010
4       2013
5       2020
        ...
7003    2021
7004    2021
7005    2021
7006    2021
7007    2017
Name: year, Length: 6786, dtype: int64

In [ ]:
df.head()

,movies,year,genre,rating,oneline,stars,votes,runtime
1,Blood Red Sky,2021,True,6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri B...,21062,121
2,Masters of the Universe: Revelation,2021,True,5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michel...",17870,25
3,The Walking Dead,2010,True,8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman R...",885805,44
4,Rick and Morty,2013,True,9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Pa...",414849,23
5,Outer Banks,2020,True,7.6,A group of teenagers from the wrong side of th...,"Stars:Chase Stokes, Madelyn Cl...",25858,50