In [2]:
import pandas as pd

In [128]:
df = pd.read_csv("/content/movies.csv")

In [4]:
df.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [129]:
df.columns = [i.lower() for i in df]

In [130]:
df = df.replace(r'\n',' ', regex=True)

In [189]:
df["year"]=df["year"].str.strip("()")

In [28]:
df.head(1)

,movies,year,genre,rating,one-line,stars,votes,runtime,gross
0,BloodRedSky,2021,ActionHorrorThriller,6.1,A woman with a mysterious illness is forced i...,Director: Peter Thorwarth | Stars: P...,"21,062",121.0,NaN

In [131]:
df.isnull().sum()

movies         0
year         644
genre         80
rating      1820
one-line       0
stars          0
votes       1820
runtime     2958
gross       9539
dtype: int64

In [32]:
df["year"].value_counts()

2020             1531
2019             1093
2021             1072
2018              751
2017              535
                 ...
20082020            1
20082010            1
20152020            1
19922014            1
2018VideoGame       1
Name: year, Length: 395, dtype: int64

In [57]:
df.tail(4)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [132]:
df["year"].isnull().sum()

644

In [190]:
df = df.dropna()

In [191]:
df.shape

(460, 9)

In [148]:
df =df.drop(columns=['one-line', 'stars'])

,movies,year,genre,rating,votes,runtime,gross
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"205,979",118.0,$75.47M
85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,"897,444",127.0,$402.45M

In [180]:
(df["rating"]>7).value_counts()

False    294
True     166
Name: rating, dtype: int64

In [177]:
df  = df.rename(columns={"movies":"movies_name"})
df = df.rename(columns={"movies_name":"movies"})

In [198]:
df.head(3)

,level_0,index,movies,year,genre,rating,votes,runtime,gross
0,0,77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"205,979",118.0,$75.47M
1,1,85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,"897,444",127.0,$402.45M
2,2,95,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,"237,601",88.0,$89.22M

In [201]:
df = df.assign(Index=range(len(df))).set_index('Index')
df

,level_0,index,movies,year,genre,rating,votes,runtime,gross
Index,,,,,,,,,
0,0,77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"205,979",118.0,$75.47M
1,1,85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,"897,444",127.0,$402.45M
2,2,95,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,"237,601",88.0,$89.22M
3,3,111,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,"1,713,028",178.0,$315.54M
4,4,125,Escape Room,I) (2019,"Action, Adventure, Horror",6.4,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
455,455,5750,Vidal Sassoon: The Movie,2010,Documentary,6.5,245,90.0,$0.09M
456,456,5770,Men at Lunch,2012,"Documentary, Mystery",6.3,331,75.0,$0.00M
457,457,5835,Decoding Deepak,2012,Documentary,5.5,124,83.0,$0.01M
458,458,6056,Theo Who Lived,2016,Documentary,6.8,111,86.0,$0.01M
459,459,6292,Southern Justice,2006,"Action, Adventure, Thriller",3.1,126,96.0,$0.14M

In [207]:
df.head(10)

,level_0,index,movies,year,genre,rating,votes,runtime,gross
Index,,,,,,,,,
0,0,77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"205,979",118.0,$75.47M
1,1,85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,"897,444",127.0,$402.45M
2,2,95,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,"237,601",88.0,$89.22M
3,3,111,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,"1,713,028",178.0,$315.54M
4,4,125,Escape Room,I) (2019,"Action, Adventure, Horror",6.4,"99,351",99.0,$57.01M
5,5,128,Jaws,1975,"Adventure, Thriller",8.0,"558,731",124.0,$260.00M
6,6,132,The Departed,2006,"Crime, Drama, Thriller",8.5,"1,227,522",151.0,$132.38M
7,7,143,Gone Girl,2014,"Drama, Mystery, Thriller",8.1,"895,888",149.0,$167.77M
8,8,144,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,"337,900",119.0,$404.52M
9,9,145,American Psycho,2000,"Comedy, Crime, Drama",7.6,"517,014",101.0,$15.07M